select{
  /*font-size: 30pt;
  color: #DCDCDC;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px 5px 50px;
  font: 30px arial, sans-serif;
  border: none;
  border-radius: 4px;
  background: transparent url("https://cdn3.iconfinder.com/data/icons/faticons/32/search-01-48.png") no-repeat left center;
  background-size: 40px 40px;

}

option{
  /*font-size: 30pt;
  color: #DCDCDC;*/
  padding: 5px 15px 5px 50px;
  font: 30px arial, sans-serif;
  border: none;
  border-radius: 4px;
}

.normalSelect {
    background-color: #4CAF50; /* Green */
    border: none;
    width: 100px;
    padding: 20px 32px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #4CAF50; /* Green */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.whiteText {color: white;}
.noBorder {border: none;}

.buttonGreen {background-color: #4CAF50;  border: none; color: white;} /* Green */
.buttonBlue {background-color: #008CBA;} /* Blue */
.buttonRed {background-color: #f44336;  border: none; color: white;} /* Red */ 
.buttonGray {background-color: #e7e7e7; color: black;  border: none;} /* Gray */ 
.buttonBlack {background-color: #555555;  border: none; color: white;} /* Black */

.button1 {font-size: 10px;}
.button2 {font-size: 12px;}
.button3 {font-size: 16px;}
.button4 {font-size: 20px;}
.button5 {font-size: 24px;}

.button1 {padding: 10px 24px;}
.button2 {padding: 12px 28px;}
.button3 {padding: 14px 40px;}
.button4 {padding: 32px 16px;}
.button5 {padding: 36px;}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}